.linechart{
  transform: scale(1);
  display: block;
  background: var(--mafs-bg);
  overflow: hidden;
  border-radius: 0px;
  -webkit-user-select: none;
  user-select: none;
  font-family: inherit;
  font-variant-numeric: tabular-nums;
  touch-action: none;

  --mafs-bg: white;
  --mafs-fg: rgb(31, 32, 34);

  --mafs-origin-color: var(--mafs-fg);
  --grid-line-subdivision-color: rgba(10, 3, 45, 0.034);

  --mafs-red: #f11d0e;
  --mafs-orange: #f14e0e;
  --mafs-yellow: #ffe44a;
  --mafs-green: #15e272;
  --mafs-blue: #2867e5;
  --mafs-indigo: #7c58ff;
  --mafs-violet: #ae58ff;
  --mafs-pink: #ee00ab;
}