.stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.count {
  width: 100%;
  text-align: end;
  margin: 0;
}

.title{
  display: flex;
  /* align-items: center; */
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 800;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}