.tags {
  display: flex;
  gap: 8px;
  font-size: 0.8rem;
  padding: 1px;
  min-height: 1.8rem;
  overflow-x: hidden;
}

.tags li {
  color: var(--black-100);
  height: max-content;
  padding: 2px 6px;
  min-width: max-content;
  background-color: white;
  outline: 1px solid lightgray;
  border-radius: var(--radius);
}