.primary, .secondary {
  display: flex;
  justify-content: center;
}

.primary button,
.secondary button {
  cursor: pointer;
  border: none;
  min-height: 40px;
  height: auto;
  width: 100%;
  max-width: 280px;
  background-color: var(--black);
  border-radius: var(--radius-lg);
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.secondary button {
  background-color: transparent;
  border: none;
  margin-top: var(--sm-padding);
  color: var(--black);
  width: max-content;
}

.small-active,
.small {
  width: max-content;
}

.small-active button,
.small button {
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
  padding: 4px 12px;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow);
  font-weight: 600;
}

.small-active button{
  color: white;
}

.small button {
  color: var(--black-100);
  outline: 1px solid rgb(226, 226, 226);
  background-color: white;
}

.primary,
.secondary,
.small-active,
.small {
  transition: 150ms;
}
.primary:hover,
.secondary:hover,
.small-active:hover,
.small:hover {
  transition: 100ms;
  transform: scale(0.95);
}
