.primary {
  display: flex;
  justify-content: center;
}

.primary button,
.secondary button {
  cursor: pointer;
  min-height: 40px;
  height: auto;
  width: 100%;
  max-width: 280px;
  background-color: black;
  border-radius: var(--radius);
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.secondary button {
  background-color: transparent;
  border: none;
  color: black;
  width: max-content;
}

.small-active,
.small {
  width: max-content;
}

.small-active button,
.small button {
  cursor: pointer;
  background-color: var(--black);
  border: none;
  padding: 6px 12px;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow);
  font-weight: 600;
  font-size: 1rem;
}

.small-active button{
  color: white;
}

.small button {
  background-color: white;
}

.primary,
.secondary,
.small-active,
.small {
  transition: 150ms;
}
.primary:hover,
.secondary:hover,
.small-active:hover,
.small:hover {
  transition: 100ms;
  transform: scale(0.95);
}
