.options {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.option {
  outline: 1px rgb(235, 235, 235) solid;
  height: max-content;
  overflow: hidden;
  width: 100%;
  background-color: white;
  border-radius: var(--radius);
  /* box-shadow: var(--shadow); */
  transition: height 400ms;
}

.suboption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-info,
.main-info--simple {
  display: flex;
  /* width: 100%; */
  gap: 4px;
  background-color: white;
  padding: var(--padding);
  /* margin: 2px; */
  /* transition: height 400ms, transform 200ms; */
}

.main-info {
  /* box-shadow: var(--shadow); */
  outline: 1px rgb(235, 235, 235) solid;
  border-radius: var(--radius);
}