.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subject {
  color: white;
  width: max-content;
  border-radius: var(--radius);
  padding: 0.3rem 0.6rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.units {
  display: flex;
  gap: 16px;
  flex-direction: column;
}


.card{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card h2{
  margin: 0;
}

.card__info {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--primary-color);
  width: max-content;
  color: white;
  padding: 4px;
  border-radius: var(--radius);
}

.doc {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.doc:hover {
  background-color: rgb(241, 241, 241);
}

.topics{
  display: flex;
  gap: 8px;
  padding: 4px;
  overflow-x: hidden;
}

.topics li{
  padding: 2px 6px;
  min-width: max-content;
  background-color: white;
  outline: 1px solid lightgray;
  border-radius: var(--radius);
}

.count{
  width: 100%;
  text-align: end;
  margin: 0;
}

.documents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 32px;
}

.progress-container{
  width: 100%;
  height: 10px;
  border-radius: var(--radius);
  background-color: white;
  overflow: hidden;
  background-color: rgb(240, 240, 240);
}

.progress{
  background-color: #e86675;
  height: 100%;
}

.completed-progress{
  display: flex;
  align-items: center;
  gap: 16px;
}