.search-container {
  display: flex;
  justify-content: center;

}

.search {
  padding: 2px 8px;
  height: 36px;
  border-radius: 4px;
  width: 95%;
}

.documents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 32px;
}
