.documents{
  display: flex;
  gap: 32px;
  margin: 8px 0 0;
  overflow: scroll;
}

.documents__card{
  gap: 16px;
  padding: 0 0 16px;
  display: flex;
  flex-direction: column;
}


.documents__card div{
  box-shadow: 4px 4px 8px rgb(205, 205, 205);
  cursor: pointer;
  background-color: white;
  border-radius: var(--radius);
  height: 176px;
  width: 144px;
}

.documents__card div:hover{
  border: 2px solid black;
}

.stats{
  display: flex;
  overflow: scroll;
  gap: 16px;
}

.stats__card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
  height: 4.2rem;
  padding: 16px;
  margin: 8px 2px 24px;
  background-color: white;
  box-shadow: 4px 4px 8px rgb(205, 205, 205);
  border-radius: var(--radius);
  cursor: pointer;
}

.stats__card:hover{
  outline: 2px solid black;
}

.subject{
  text-align: center;
  width: 8rem;
}

.score{
  font-size: 1.8rem;
  font-weight: 700;
}