.options{
  margin: 0 auto;
  width: 100%;
  overflow-x: scroll;
}

.options ul{
  display: flex;
  gap: 16px;
  width: 50%;
}

.op{
  color: rgb(109, 117, 121);
}

.op,
.op--active {
  padding: 4px 10px;
  margin-bottom: 8px;
  flex-shrink: 0;
  cursor: pointer;
  font-weight: 600;
}

.op--active {
  border-bottom: 2px solid var(--black);
}

.separator {
  margin: 0 8px;
}
