.options{
  /* background-color: white; */
  width: 100%;
  display: flex;
  overflow-x: scroll;
  margin: 0 auto;
  border-radius: var(--radius);
}

.options ul{
  display: flex;
  gap: 16px;
  justify-content: center;
}

.op{
  background-color: white;
}

.op,
.op--active {
  display: inline-block;
  padding: 6px 10px;
  border-radius: var(--radius);
  cursor: pointer;
}

.op--active {
  color: white;
}

.separator {
  margin: 0 8px;
}
