.options{
  background-color: white;
  max-width: 90%;
  margin: 20px auto;
  border-radius: var(--radius);
}

.options ul{
  overflow-x: scroll;
  padding: 12px;
  display: flex;
  justify-content: center;
}

.op,
.op--active {
  cursor: pointer;
}

.op--active {
  color: var(--active-letter-color);
}

.separator {
  margin: 0 8px;
}
