.photo__container{
  height:  256px;
  display: flex;
  justify-content: center;
}

.hero{
  top: 3.4rem;
  left: 0;
  height: 128px;
  width: 100%;
  position: absolute;
  background-color: var(--primary-color);
}

.photo{
  position: absolute;
  top: 90px; 
  width: 160px;
  height: 160px;
  border-radius: 100%;
  background-color: white;
}

.button{
  cursor: pointer;
  color: black;
  background-color: white;
  border-radius: var(--radius);
  padding: 0.4rem 0.8rem;
  height: max-content;
  font-weight: 600;
  transform: translateY(200px);
}


.photo__container .button{
  background-color: white;
}

.button:hover{
  background-color: rgb(215, 215, 215);
}
.input{
  width: 100%;
  height: 2.8rem;
  border: 1px solid var(--background-color);
  border-radius: var(--radius);
  padding: 0.8rem;
  margin: 0.4rem 0 0 0;
}

.form{
  display: flex;
  padding: 16px 0;
  gap: 16px;
  flex-direction: column;
  background-color: white;
  border-radius: var(--radius);
  margin: 0 0 32px;
}

.form label{
  padding: 0 16px;
}