.blur {
  transition: opacity 0.25s linear;
  position: fixed;
  top: 0;
  z-index: 49;
  opacity: 1;
  background-color: rgba(128, 128, 128, 0.277);
  width: 100vw;
  height: 100dvh;
  cursor: pointer;
}

.sidevar {
  /* font-size: 1.1rem;  overscroll-behavior-y: contain; */
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10000;
  top: 20px;
  left: 20px;
  background-color: white;
  width: 80vw;
  max-width: 350px;
  min-width: max-content;
  height: calc(100dvh - 44px);
  padding: var(--padding);
  gap: var(--padding);
  border-radius: var(--radius);
  transition: transform 0.25s linear;
}

.options__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.options {
  height: 55vh;
  display: flex;
  /* overflow-y: scroll; */
  flex-direction: column;
  gap: 4px;
}
.off .sidevar {
  transition: transform 0.4s linear;
  transform: translateX(-100vw);
}

.off .blur {
  transition: opacity 0.4s linear;
  opacity: 0;
  animation: blur 0.5s 1 0s linear forwards;
}

.on .sidevar {
  transform: translateX(0);
}

.profile {
  display: flex;
  gap: var(--padding);
  align-items: center;
  width: 100%;
  padding: 0 4px var(--padding);
  border-bottom: 2px solid rgb(234, 234, 234);
}

.profile__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

.role {
  font-size: 0.9rem;
  font-weight: 700;
}

@keyframes blur {
  100% {
    visibility: hidden;
  }
}

.option {
  display: flex;
  padding: var(--padding) var(--sm-padding);
  justify-content: space-between;
  align-items: center;
  height: max-content;
  width: 100%;
  font-size: 1.2rem;
  border-radius: var(--radius);
  cursor: pointer;
}

.option > div {
  display: flex;
  align-items: center;
  gap: var(--sm-padding);
}

.option:hover {
  background-color: var(--background-color);
}


.image{
  width: 2.5rem;
  border-radius: 50%;
  /* height: 2rem; */
}