.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow);
  outline: 1px solid lightgray;
  overflow: hidden;
}

.table caption{
  width: 100%;
  display: flex;
  padding: var(--padding);
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.table caption h2{
  font-weight: 800;
  font-size: 1.2rem;
}

.table tbody{
  display: inline-block;
  width: 100%;
  max-height: 280px;
  overflow-y: scroll;
}
.table__title{
  margin: 0;
}

.table tr {
  width: 100%;
  display: flex;
  gap: var(--padding);
  justify-content: space-around;
  padding: var(--sm-padding) var(--padding);
  border-top: 1px solid lightgray;
}

.table tbody tr:first-child{
  border-top: none;
}


.table .head {
  border-top: none;
  border-bottom: 1px solid lightgray;
}

.table td {
  flex: 1;
  display: inline-block;
  padding: var(--sm-padding) 0;
  border-bottom: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.icons{
  display: flex;
  gap: 12px;
  align-items: center;
}