.standart-input{
  display: flex;
  flex-direction: column;
}

.name{
  color: var(--black-100);
}

.standart-input input {
  margin: 2px;
  padding: var(--sm-padding);
  border: none;
  outline: 1px solid lightgray;
  /* box-shadow: var(--shadow); */
  border-radius: 4px;
  width: 100%;
}

.standart-input input[type=color]{
  width: 100px;
  height: 40px;
  background-color: white;
}

.standart-input input:focus {
  outline: 2px solid var(--primary-color);
  border: none;
}
