.config-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.8rem;
  height: 3.8rem;
  background: black;
  padding: 8px;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border: none;
}

.config-button:hover{
  cursor: pointer;
}

.config-button:hover .config-button__icon{
  scale: 1.18;
  transition: 100ms;
  color: lightgray;
}

.config-button__icon{
  transition: 200ms;
  width: 75%;
  height: 75%;
}