.docs{
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  width: 100%;
}

.docs > *{
  width: 100%;
  min-height: 100vh;
}

.navar{
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.separator{
  height: 46px;
}

.navar ul{
  margin: 0;
  padding: 16px;
  height: 64px;
  border-bottom: 1px solid lightgray;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.doc-name{
  cursor: text;
  font-size: 1.2rem;
  font-weight: 500;
}

.navar li{
  cursor: pointer;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

.options span{
  padding: 10px;
  border-radius: 50%;
  aspect-ratio: 1;
}

.options span:hover{
  background-color: rgb(240, 240, 240);
}

/* .options input{
  width: 100px;
  border-radius: 4px;
  height: 1.6rem;
} */