.frame{
  width: 500px;
}

/* .component{
  display: block;
  border-radius: 4px;
}

.component .component:hover{
  cursor: pointer;
  outline: 0.15em solid #5066e8;
}
.component .component .component:hover{
  outline: 0.15em dashed #5066e8;
} */

.docs{
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  padding: 70px 0 8px;
}

.navar{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.navar ul{
  margin: 0;
  padding: 16px;
  height: 3.5rem;
  background-color: #5066e8;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navar li{
  cursor: pointer;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* .doc-name{
  font-size: 1.1rem;
  font-weight: 600;
} */

.options input{
  width: 100px;
  border-radius: 4px;
  height: 1.6rem;
}